body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}

h1 {
    color: #efeee7;
    background-color: #333333;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
}

h2 {
    font-size: 25px;
    padding: 30px;
    margin: 0;
    text-align: center;
}

h3 {
    margin: 0;
}

a {
    color: #fff;
}

#main-bio {
    background-color: #eee;
    clear: both;
    overflow: auto;
    margin-top: 6vw;
    width: 100%;
}

#contact-info {
    margin-bottom: 2vw;
    background-color: #eee;
}

#email {
    background-color: #666;
    color: #ffffff;
    width: 31.3%;
    float: left;
    padding: 1vw;
    text-align: center;
}

#github {
    background-color: #888;
    color: #ffffff;
    width: 31.3%;
    float: left;
    padding: 1vw;
    text-align: center;
}

#portfolio {
    background-color: #666;
    color: #ffffff;
    width: 31.3%;
    float: left;
    padding: 1vw;
    text-align: center;
}

#bio-image {
    margin: 20px;
    width: 33%;
    height: 33%;
    background-color: #fff;
    float: left;
    margin-left: 2vw;
}

#name {
    background-color: #63a3da;
    padding: 1vw;
    text-align: center;
}

#about-me {
    text-align: center;
    /* padding: 2vw; */
    margin: 1vw;
}

footer {
    background-color: #ccc;

}